In [13]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import sys
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
import os
engine = create_engine('postgres://%s:%s@104.154.139.71/%s'%('postgres',os.getenv('db_password'),'tweets_db'))
connection = engine.connect()
import spacy
nlp = spacy.load('en_default')
from numpy import loadtxt
import numpy as np

import json
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from time import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

First we import everything ( following this xgboost tutorial: https://machinelearningmastery.com/develop-first-xgboost-model-python-scikit-learn/ ). Then lets get the tweets for training and extract features. 


Features that need to be added:

 * Extract OSM node names and then compare uniqueness of OSM nodes at the text level (NoOfDistinctOSMNodes)
 * Match node with entity, find the population and if population field exists for the nodes 
 * Capitalization of the entity names

In [30]:
tweets = pd.read_sql_query("""
select 
    tweets.tweet_id,
    tweet_text,
    to_char(tweet_date, 'HH24') as tweet_hour,
    isALocationTweet,
    (
        select count(id) 
        from osmtweetlocalization 
        where osmtweetlocalization.tweet_id= tweets.tweet_id
    ) as NoOfOSMNodes,
    (
        select count(distinct osm_id)
        from osmtweetlocalization
        where osmtweetlocalization.tweet_id = tweets.tweet_id
        
    ) as NoOfDistinctOSMNodes,
    case when lower(users.lang) like 'en%%' then TRUE else FALSE end as langIsEnglish, 
    case when lower(tweet_text) like '%%flood%%' then TRUE else FALSE end as floodkey,
    case when lower(tweet_text) like '%%power%%' then TRUE else FALSE end as powerkey,
    case when lower(tweet_text) like '%%wind%%' then TRUE else FALSE end as windkey,
    case when lower(tweet_text) like '%%water%%' then TRUE else FALSE end as waterkey,
    case when lower(tweet_text) like '%%sewage%%' then TRUE else FALSE end as sewagekey,
    case when lower(tweet_text) like '%%severe%%' then TRUE else FALSE end as severekey,
    case when lower(tweet_text) like '%%tornado%%' then TRUE else FALSE end as tornadokey,
    case when lower(tweet_text) like '%%damage%%' then TRUE else FALSE end as damagekey,
    case when lower(tweet_text) like '%%rain%%' then TRUE else FALSE end as rainkey,
    case when lower(tweet_text) like '%%estate%%' then TRUE else FALSE end as estatekey,
    case when lower(tweet_text) like '%%luxur%%' then TRUE else FALSE end as luxurykey,
    case when lower(tweet_text) like '%%condo%%' then TRUE else FALSE end as condokey,
    case when lower(tweet_text) like '%%sale%%' then TRUE else FALSE end as salekey


from tweetsTrainLocation01  
join tweets on
    tweets.tweet_id = tweetsTrainLocation01.tweet_id
join users on
    tweets.user_id = users.id
where 
    isALocationTweet is not null
   /* and (
           lower(tweet_text) like '%%irma%%' 
        or lower(tweet_text) like '%%flood%%' 
        or lower(tweet_text) like '%%power%%' 
    )*/
    ;

""",engine)
tweets

,tweet_id,tweet_text,tweet_hour,isalocationtweet,noofosmnodes,noofdistinctosmnodes,langisenglish,floodkey,powerkey,windkey,waterkey,sewagekey,severekey,tornadokey,damagekey,rainkey,estatekey,luxurykey,condokey,salekey
0,907605279130370048,#MyTrain T0123 | Randfontein-Park Station 11 ...,14,True,2,1,True,False,False,False,False,False,False,False,False,True,False,False,False,False
1,907285685043974150,The owner of Native Son Winery in Randleman is...,16,True,1,1,True,False,False,True,False,False,False,False,False,True,False,False,False,False
2,907280244339625984,Irma gave me a new found loyalty to @BurgerKin...,16,False,4,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,906761182526283776,Favorite beach bar Soggy Dollar. I need a Pain...,06,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4,907369779882631168,"Marker 48 Brewing - Weeki Wachee, Florida http...",22,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
5,907729847107035136,"Flash Flood Warning - Connersville, FL - 10:17...",22,True,2,2,True,True,False,False,False,False,False,False,False,False,False,False,False,False
6,907306317374803969,Hurricane Irma sends plane hurtling into car i...,18,True,3,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
7,908016657821560832,South Miami Hospital COMMUNITY DISCOUNT 25% o...,17,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
8,906856535426465792,@Telemundo51 @Harold_T51 @ADelgadoT51 @ArielT5...,12,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
9,908327294405509120,Repost from big_low good morning beautiful peo...,13,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
10,908222931985080320,#Commercial Price: $449000. Address: 2204 CITR...,06,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
11,907698093428297729,Irma blew the roof off of this Shell gas stati...,20,False,3,3,True,False,False,False,False,False,False,False,False,False,False,False,False,False
12,907228169656299520,I'd rather live in a bamboo house in the middl...,13,True,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
13,908282595464568833,"the one that will deliver wine, Camels, and Be...",10,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
14,908355666527625217,Hurricane Irma damage at Alva's Oak Park mobil...,15,True,2,2,True,False,False,False,False,False,False,False,True,False,False,False,False,False
15,908048908047327234,Elderly woman dies when her SUV lands in Flemi...,19,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16,908029601850560512,"Shriners International Headquarters in Tampa, ...",18,True,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
17,907348960561561601,"Hurricane #Irma:Aftermath:Hutchinson Island,Fl...",21,True,1,1,True,False,False,False,True,False,False,False,False,False,False,False,False,False
18,908054050104639488,@ActionBronson @SOMA_Ent Tampa Florida and Cha...,19,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
19,907436224998244353,songwriting. 🎶\n\nthis picture is from a visit...,02,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
20,907234871197581312,For those affected by Hurricane Harvey and in ...,13,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
21,907265227107950594,Rhonda Garrison of @SFNToday talks to Sampson ...,15,True,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
22,907346781595422727,Check out the NEWLY UPDATED #CharityWatch Hurr...,20,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
23,907248102536556544,"This is the true #American spirit, if it were ...",14,False,3,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
24,907761006683803648,Hurricane Donna affected Bridgeport 57 years a...,00,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
25,908056878654963712,#Residential Price: $177900. Address: 2464 EUS...,19,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
26,907621787428638721,@suntraa Thank you. We r planning to stay in K...,15,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
27,908300206399266816,3:30 Florida - Tennessee 8 Clemson - Lamar...,12,False,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
28,908289559657459712,"Just posted a photo @ Dunedin, Florida https:/...",11,False,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
29,907415116768960512,#Residential Price: $250000. Address: 508 CARO...,01,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,907218512137134080,@DaveOFox13 my neighbors townhouse in Largo of...,12,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
810,908290902254161920,#Residential Price: $120000. Address: 2580 IRI...,11,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
811,908195683026341888,Minor Flood Watch Warning for Greater Melbourn...,05,True,1,1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
812,907988171312517120,Comenzamos a servir Comida Caliente para los d...,15,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
813,908305993003450368,#Residential Price: $207330. Address: 3553 BEL...,12,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
814,908291172833120256,The Energy Truck Armada just rolled out of Der...,11,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
815,907278471306526720,@jptrib1 Boohoo The west is on fire 172 thousa...,16,True,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
816,906792964449619970,"When Hurricane Irma veered toward Naples, Fla....",08,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
817,907345766833967104,Hurricane Irma - The Morning After. St. Peters...,20,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
818,907279541059514368,@SavannahGuthrie Irma is a big story with huge...,16,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
819,907302303899815936,"Dear Hurricane Irma, 🌊🌬Deliver me A 2017 Audi ...",17,False,4,3,True,False,False,False,False,False,False,False,False,False,False,False,False,False
820,907434640432029696,"HEY! C22 folks affected by Harvey/Irma, your c...",02,False,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
821,907015107640786945,Candles Ready! #irma #friarwade #lkld #hurrica...,22,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
822,907433581047410688,.@CurtisHouck\nInteresting to see this anthrop...,02,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
823,907409881417736192,"Flash Flood Warning for Fannin, Gilmer, and Wh...",01,True,1,1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
824,908090092706779136,Brickell Hammock #FL #USA - CSR Face to Face -...,22,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
825,908343744293826567,#Rental Price: $2450. Address: 1309 FOX CHAPEL...,14,False,4,3,True,False,False,False,False,False,False,False,False,False,False,False,False,False
826,907791076378812416,Flooding seen at Hideaway Beach Golf Course on...,02,True,2,1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
827,907627331375783936,"Spirit Airlines Battered by Harvey, Then Irma ...",15,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
828,908268901359931392,Rye Wilderness Bradenton Florida New Homes Com...,09,False,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
829,907319467738370050,Interesting nugget from @WinterParkFla. The ci...,19,True,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
830,907614925513572354,Hurricane Irma Update from Alabama! Rodman Wea...,14,True,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
831,907328779642695682,"OPA-LOCKA, Fla. (AP) - After flyover, Florida ...",19,True,3,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
832,907425839658217474,"#hurricaneirma #2017 #miami @ Olympia Heights,...",02,True,2,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
833,907206860117299200,@somanystocks @heatheremerrick Any information...,11,True,1,1,True,True,False,False,False,False,False,False,False,False,False,False,False,False
834,907272903871275014,Dawn patrol NJ shore 50 miles from WTC on 9/11...,16,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False
835,907635166016712705,BRIEF-Capital Bank opens for business in Flori...,16,True,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
836,907386724627750912,@brooklyncowboy1 You're very welcome. Any word...,23,True,2,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
837,908100540533542913,Sexy #Bikini Babes at the Harley-Davidson Bike...,22,False,3,2,True,False,False,False,False,False,False,False,False,False,False,False,False,False
838,907273615401537537,An Oak tree that fell across Falling Leaves Dr...,16,False,1,1,True,False,False,False,False,False,False,False,False,False,False,False,False,False

Now we will add some more spacy-entity based features to this list.

In [31]:

for idx,tweet in tweets.iterrows():
    doc= nlp(tweet.tweet_text)
    tweets.loc[idx,'TotalNoOfEntities'] = len(doc.ents)
    nGPEs =0
    nLOCs=0
    nORGs=0
    nOthers=0
    for ent in doc.ents:
        #print(str(idx),ent.ent_id_,ent.label,ent.label_, ent.text)
        if ent.label == 380:
            nORGs+=1
        elif ent.label== 381:
            nGPEs+=1
        elif ent.label== 382:
            nLOCs+=1
        else:
            nOthers+=1
    tweets.loc[idx,'nGPEentities'] = nGPEs
    tweets.loc[idx,'nLOCentities'] = nLOCs
    tweets.loc[idx,'nORGentities'] = nORGs
    tweets.loc[idx,'nOTHERentities'] = nOthers
    tweets.loc[idx,'nGPEandLOCs'] = nGPEs+nLOCs

        #if ent.label in (380,381,382):
        #     a=2

Lets make the variables for model building:

In [43]:
tweets2 = tweets.copy()
#tweets2.drop('tweet_text')
#tweets2.drop('tweet_id')
del tweets2['tweet_text']
del tweets2['tweet_id']

X = tweets2.copy()
del X['isalocationtweet']
X['tweet_hour'] = X['tweet_hour'].astype(int)
Y = tweets2['isalocationtweet']
# split data into train and test sets
seed = 908008
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
# fit model no training data
#model = XGBClassifier()
model = RandomForestClassifier()

Now we will do a grid search to find the optimal parameters for this model.

In [58]:



# Utility function to report best scores
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")


# use a full grid over all parameters
param_grid = {
              "n_estimators": [1,5,9,10,11,12,13],
              "max_depth": [12,11,10,8,7,6,None],
              "max_features": [1, 3,5, 10],
              "min_samples_split": [2, 3,4 ],
              "min_samples_leaf": [1, 3,5, 10],
              "bootstrap": [True, False],
              "criterion": ["gini", "entropy"]}
grid_search = GridSearchCV(model, param_grid=param_grid)
start = time()
grid_search.fit(X_train, y_train)

print("GridSearchCV took %.2f seconds for %d candidate parameter settings."
      % (time() - start, len(grid_search.cv_results_['params'])))
report(grid_search.cv_results_)

GridSearchCV took 512.09 seconds for 9408 candidate parameter settings.
Model with rank: 1
Mean validation score: 0.635 (std: 0.016)
Parameters: {'bootstrap': False, 'criterion': 'gini', 'max_depth': 8, 'max_features': 1, 'min_samples_leaf': 1, 'min_samples_split': 3, 'n_estimators': 12}

Model with rank: 2
Mean validation score: 0.629 (std: 0.010)
Parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': 10, 'max_features': 10, 'min_samples_leaf': 3, 'min_samples_split': 3, 'n_estimators': 10}

Model with rank: 2
Mean validation score: 0.629 (std: 0.022)
Parameters: {'bootstrap': False, 'criterion': 'gini', 'max_depth': 8, 'max_features': 1, 'min_samples_leaf': 5, 'min_samples_split': 3, 'n_estimators': 11}


Now we will run the ranodom forest classifier with these optimal parameters

In [150]:

model = RandomForestClassifier(
    bootstrap = False,
    max_depth = 8,
    criterion='gini',
    max_features=1,
    min_samples_leaf=1,
    min_samples_split=3,
    n_estimators=12)
model.fit(X_train, y_train)
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

Accuracy: 65.08%

array([[84, 48],
       [40, 80]])

Lets try to categorize the real data now.

In [151]:
tweetstopredict = pd.read_sql_query("""
select 
    tweets.tweet_id,
    tweet_text,
    to_char(tweet_date, 'HH24') as tweet_hour,
    (
        select count(id) 
        from osmtweetlocalization 
        where osmtweetlocalization.tweet_id= tweets.tweet_id
    ) as NoOfOSMNodes,
    (
        select count(distinct osm_id)
        from osmtweetlocalization
        where osmtweetlocalization.tweet_id = tweets.tweet_id
        
    ) as NoOfDistinctOSMNodes,
    case when lower(users.lang) like 'en%%' then TRUE else FALSE end as langIsEnglish, 
    case when lower(tweet_text) like '%%flood%%' then TRUE else FALSE end as floodkey,
    case when lower(tweet_text) like '%%power%%' then TRUE else FALSE end as powerkey,
    case when lower(tweet_text) like '%%wind%%' then TRUE else FALSE end as windkey,
    case when lower(tweet_text) like '%%water%%' then TRUE else FALSE end as waterkey,
    case when lower(tweet_text) like '%%sewage%%' then TRUE else FALSE end as sewagekey,
    case when lower(tweet_text) like '%%severe%%' then TRUE else FALSE end as severekey,
    case when lower(tweet_text) like '%%tornado%%' then TRUE else FALSE end as tornadokey,
    case when lower(tweet_text) like '%%damage%%' then TRUE else FALSE end as damagekey,
    case when lower(tweet_text) like '%%rain%%' then TRUE else FALSE end as rainkey,
    case when lower(tweet_text) like '%%estate%%' then TRUE else FALSE end as estatekey,
    case when lower(tweet_text) like '%%luxur%%' then TRUE else FALSE end as luxurykey,
    case when lower(tweet_text) like '%%condo%%' then TRUE else FALSE end as condokey,
    case when lower(tweet_text) like '%%sale%%' then TRUE else FALSE end as salekey


from tweetsTrainLocation01  
join tweets on
    tweets.tweet_id = tweetsTrainLocation01.tweet_id
join users on
    tweets.user_id = users.id
where isALocationTweet is null;
""",engine)
print('Finished SQL reading.')
for idx,tweet in tweetstopredict.iterrows():
    doc= nlp(tweet.tweet_text)
    tweetstopredict.loc[idx,'TotalNoOfEntities'] = len(ent)
    nGPEs =0
    nLOCs=0
    nORGs=0
    nOthers=0
    for ent in doc.ents:
        #print(str(idx),ent.ent_id_,ent.label,ent.label_, ent.text)
        if ent.label == 380:
            nORGs+=1
        elif ent.label== 381:
            nGPEs+=1
        elif ent.label== 382:
            nLOCs+=1
        else:
            nOthers+=1
    tweetstopredict.loc[idx,'nGPEentities'] = nGPEs
    tweetstopredict.loc[idx,'nLOCentities'] = nLOCs
    tweetstopredict.loc[idx,'nORGentities'] = nORGs
    tweetstopredict.loc[idx,'nOTHERentities'] = nOthers
    tweetstopredict.loc[idx,'nGPEandLOCs'] = nGPEs+nLOCs
print('Finished NER work.')

Finished SQL reading.
Finished NER work.

In [152]:
tweetstopredict2 = tweetstopredict.copy()
del tweetstopredict2['tweet_text']
del tweetstopredict2['tweet_id']
tweetstopredict2['tweet_hour'] = tweetstopredict2['tweet_hour'].astype(int)

y_pred = model.predict(tweetstopredict2)
print('Finished predictions')

Finished predictions

In [153]:
print(len(y_pred))
for idx,tweet in tweetstopredict.iterrows():
    if idx<900:
        continue
    print(idx,y_pred[idx],tweet.tweet_text)
    if idx>1000:
        break

6040
900 False Foreclosures Deals In Santa Rosa Beach Florida: https://t.co/HWeQds9YwU via @YouTube
901 False Foreclosures Deals In Mexico Beach Florida: https://t.co/3jUZ2SK3Tu via @YouTube
902 False @fbcoem Are there any roads in Fort Bend County that are still closed due to Hurricane Harvey?
903 False Breaking News for #32174: This is how Hurricane Irma impacted Ormond Beach: https://t.co/Vid7GUWgpq #Ormondbeach
904 False Enjoy a meal at Shady Maple Smorgasbord and at the same time help those devastated by Hurricane Harvey. $1 per meal… https://t.co/SqXVBt1oCz
905 False Here's your periodic reminder for the US East Coast (including the DMV) to keep an eye on Hurricane Jose next week: https://t.co/oxaIQluQT5
906 False BGM issues Areal Flood Advisory for Seneca, Steuben, Yates [NY] till Sep 14, 10:45 AM EDT https://t.co/O4IrkEab7K
907 False BGM issues Areal Flood Advisory for Seneca, Steuben, Yates [NY] till Sep 14, 10:45 AM EDT https://t.co/Z0bLIDtGAB
908 True Flood Advisory in effect in Seneca, Steuben and Yates Counties until 1045 AM #nywx https://t.co/w1knKh0q9N
909 False Very large sinkhole opens near Apopka middle school in Florida https://t.co/hoe832CVQN #sinkhole #Apopka #Florida
910 False #VacantLand Price: $59999. Address: 4025 W PRO AM AVE E, Bradenton, Florida 34203  . MLS #A419419... - https://t.co/j9fkoTMafM
911 False #Residential Price: $70000. Address: 1180 MORNINGSIDE ST, Mount dora, Florida 32757  Detached. MLS... - https://t.co/EWKrzn0TXE
912 False View from room 2222, Disney's Vero Beach Resort, Florida. Deluxe Disney room with a view. https://t.co/UsVc0AQ5hI… https://t.co/6E3VpoA0F8
913 True A Flood Advisory has been issued for portions of Yates, Steuben, and Seneca Counties through 10:45 AM. https://t.co/PrMYYWh2oY
914 True Irma takes out piece of Winter Garden history https://t.co/bp0UD1VFdT #partysupplies
915 False Los esperamos este domingo a las 11am con @AmbrosioU23 . Información y resumen del Huracán Irma. @Univision23… https://t.co/OnpzW8NWfP
916 False Ed Oliver's bond with Houston is stronger than ever - HOUSTON -- Hurricane Harvey sent the University of Housto... https://t.co/Mqxb0kpZ5b
917 False ICYMI: Pile of flood debris dumped at former Walker Rd. GM plant site has a Walkerville resident concerned
https://t.co/6jj2pf6gVu #Windsor
918 True John's house hurricane update:
Power went on at 5:40 yesterday &amp; The Mrs. was making sauce by 6:00.
Questo è italiano!
919 False The comfort of café con leche &amp; Cuban toast is immense. It's good to be back soothing customers at Airside C travel… https://t.co/ikz0rRj69K
920 True RMF Perú’s team members collected mattresses, bedding, furniture, chairs, tables, food, and drinking water...… https://t.co/VwtjUf75Bk
921 False Let's me make your IRMA ravaged property look ULTIMATE @ My Dentist For Life, P.A. https://t.co/ukG8BZOP5Q
922 True My hurricane body was not ready for a tempo run...maybe eating handfuls of M&amp;Ms for three days… https://t.co/xpH8Q6L9oV
923 True New post (Auto AC Repair Sanford FL | Sanford Car Air Conditioning Service Florida) has been published on Best ...… https://t.co/4BS7BUzsbh
924 True Hurricane Irma Winds Max Brewer Bridge Titusville, FL Hurricane Max https://t.co/rhCAS8XHqz
925 False Mark Woods: After the storm, Memorial Park “looks like ancient ruins” - Florida Times-Union https://t.co/hCCst3JWE0
926 True Record level flood levels continue on Shingle Creek near Campbell. The river levels have leveled off and a very #Wx https://t.co/cXI1ZEpcwY
927 True Hurricane Irma: Fisherman tried to ride out Irma on his boat in Coconut Grove, FL. #waxhaw https://t.co/qf9T6BsylU #yourfavrealtor
928 True Record level flood levels continue on Shingle Creek near Campbell. The river levels have leveled off and a very sl… https://t.co/8VO9MQnfHI
929 True TBW extends Flood Warning for the Little Manatee River At Wimauma [FL] till Sep 15, 9:25 PM GMT https://t.co/EtccNoRvYe
930 True 10 Southwest TN Electric Linemen head to Jefferson, GA to help with relief efforts in the aftermath of Hurricane... https://t.co/qOuoz7eHx7
931 True Gas supplies coming in, but could remain thin, says AAA
By Michael D. Bates
Hurricane Irma evacuees returning... https://t.co/fy5jQi90El
932 True Come see this beautiful home in the Heart of Clear Lake Shores.  There was NO HARVEY FLOODING in the yard or... https://t.co/x2LUZU7bPO
933 True #45 &amp; #45A headed to view the devastation in Florida. 1st stop is the Equisate Golf &amp; Driving Range &amp; Dolce factory https://t.co/uxoXAFyLD5
934 False If you are in need of AAA please try to be patient the demand is high due to evacuee's returning to Florida with... https://t.co/qJGXkRA4GV
935 True When we went fishing last Wednesday. 🎣 @ Flagler Beach, Florida https://t.co/eNmr1tD8ed
936 True @Corrynmb @NathanDWilsonFL Praying for you Corryn we live in lake Mary,Fl but used to call Fleming Island home-unbe… https://t.co/2Ospf8rZ8N
937 False #MONEY #IRMA WSJ

Trading of Rockwell Collins shares suggests investors don't think its purchase by United Technologies is a done deal …
938 True Hurricane Irma, South Miami. 2017. https://t.co/mrmDuqCykc
939 True Congratulations to Flood City Elite 2018 Bryce Huss (Richland HS) on Committing to Penn State -… https://t.co/uyQOmPdufu
940 True Proof: Worldwide Massive Flooding is All Manmade &gt;&gt; Four Winds 10 - Truth Winds https://t.co/Avrw9toe8e
941 True FSU STUDENT UNION MARKET
Weds Sept 20
Psockology Sock Store Booth
Get Socks Here
Jeff Zenick Art on Bags
Florida State University Football
942 True Joe Rogan on Hurricane Irma , HAARP, and Weather control https://t.co/yfoVLHemga via @YouTube--WIPE-OUT-HARP-TODAY--BOMB-CONGRESS/SENATE.
943 False 3 bedroom in Aventura, Florida under $2000/mo. Across from Turnberry Country Club Don Soffer Exercise 3 Miles... https://t.co/3dK9XRyGrX
944 True @NASAhistory There is no Cow that can jump NASA's Moon. The Great Flood happened. Atlantis was real. The earth is hollow. #NasaLIES
945 True @NASAhistory There is no Cow that can jump NASA's Moon. The Great Flood happened. Atlantis was real. The earth is hollow. #NasaLIES
946 False FCC: 7 Million Lost Cable, Phone Service Due to Hurricane Irma -  https://t.co/og0UybNCZQ #CutTheCord https://t.co/qUP5Ga7BSf
947 True CNN 7:06am TRUMP TO SURVEY HURRICANE DAMAGE IN FLORIDA
TRUMP TO SURVEY HURRICANE DAMAGE IN FLORIDA. . Alex Marquardt MW Senior...
948 True CNN 7:07am TRUMP TO SURVEY HURRICANE DAMAGE IN FLORIDA. . Alex Marquardt CAN Senior National Correspondent
TRUMP TO SURVEY HURRICANE...
949 False Glad to be back on my bike. Post Irma Ride. Hollywood Beach Boardwalk.
#postirma #southflorida… https://t.co/sw4JVCdSeP
950 True ...The flood warning continues for the following rivers in Florida... Santa Fe River At Hildreth On U.s. 129 Bridg… https://t.co/m0RV9B0Xkm
951 True Y'all can't charge an overdraft fee when y'all ATMs do not work @Chase   in Miramar, FL. Even before Irma they were broke as fuck. Fix it.
952 False The Mets &amp; Queens borough president Melinda Katz will hold a hurricane relief drive at Citi Field Sept. 19-21. More: https://t.co/nQ9DJdAgyt
953 False #Residential Price: $349900. Address: 6329 ORANGE COVE DR, Orlando, Florida 32819  One story. MLS ... - https://t.co/2SfqNGe5NL
954 True #Commercial Price: $469000. Address: 8180 N US 301, Ellenton, Florida 34222  . MLS #A4196179 - https://t.co/6d6Kx8g2Af
955 False Local power crews from Marblehead, Danvers, Middleton, Rowley, Groveland,Georgetown, Ipswich and Merrimac in New Sm… https://t.co/9R7pimUMfd
956 False Local power crews from Marblehead, Danvers, Middleton, Rowley, Groveland,Georgetown, Ipswich and Merrimac in New Sm… https://t.co/uZsy4pCQa5
957 True Psychiatric Mental Health NP (PMHNP) Opportunity for Jacksonville, Florida      JOB  9818794 - Macon, GA https://t.co/GaZ5ikOX9D
958 True City of Hueytown and Hueytown Chamber of Commerce Organize Drop Off Locations for Hurricane Relief https://t.co/IWSoOZabhd
959 True Beltone Pledges Relief for Hurricane Irma Victims Who Lost or Damaged Their Hearing Aids in Storm… https://t.co/e28RJYNq6t
960 False @RandPaul @SHSanders45 @GovMikeHuckabee…be merciful to the families suffering in Texas, Louisiana, Tennessee, Florida, and throughout the…T3
961 True Urban and Small Stream Flood Advisory for N Steuben until 145 PM
Heavy rain continues over the region. Do not driv… https://t.co/7zIYYlU3AR
962 True MetroPlan_Orl: RT SCSOFL: Wildwood, FL -

The National Weather Service (NWS) issued a Flood Warning for the Withla… https://t.co/Z3mT5wfwVG
963 True NHC_Pacific Hurricane #Max Advisory 6: Max Moving Eastward Just South of Acapulco. https://t.co/1mvzDxeP1Y… https://t.co/CiPHveDILI
964 True Happy to be of assistance in Palatka, Putnam County to help alleviate flooding caused by Hurricane Irma. https://t.co/UxWjIYwcgG
965 False @TomiLahren Coal country is screwing Florida, Texas, Louisiana, the Caribbean, et al. How can your mouth be so big yet your mind so narrow?
966 False New watch might include: Saint George, Cedar City, Hurricane, Page, Washington, Kanab
967 True Honolulu trends now: Marco Polo, Florida, Pearl. https://t.co/EKGSMxSto7
968 True #Repost @SunriseMagic1 (get_repost)
・・・
Here's some of #Irma  work on Vilano Beach https://t.co/9JwEHCjp3d
969 True No Complaints 🏝 #ArturoFuente @ Honeymoon Island and Dunedin Causeway, Florida https://t.co/eqLOFHFiFR
970 True New: Flooding in Charlotte on SR-31 south beyond Bermont Rd, all lanes blocked. Last updated at 11:20:44AM. #fl511 https://t.co/Hp0uHS4AHF
971 True Christ United Methodist Church is a drop off location for these flood buckets. Take donations to the church by... https://t.co/iTTYbx2EOg
972 True Zoo-rific day with Duke and Brock!  #familyfirst @ Central Florida Zoo &amp; Botanical Gardens https://t.co/aSZFwpR317
973 True 9/14/1988 - Hurricane Gilbert produced 170 mph winds in Cozumel, Mexico before the storm moved west across the Yucatan Peninsula.
974 True Cape Canaveral Under Inspection For Hurricane Irma Damage - Immortal News https://t.co/5YATwWEhBG
975 True Melania's wearing white pants to (wet, muddy) hurricane damage. I can't wear white pants to sit on my own couch w/o… https://t.co/KjvqnzIklK
976 False TY Mgr Ariel &amp; Guest Svs Gianni for making Irma tolerable! Always smiling &amp; pleasant w/a pristine store!!… https://t.co/9p4h0xvH08
977 True Fla. couple head home with baby born during Irma: Karam Karam and his wife Kaila were… https://t.co/Gqnw6Qd4Zl #news
978 True #Sci Cape Canaveral Under Inspection For Hurricane Irma Damage - Immortal News #USA https://t.co/Mas62bV3wT
979 True The Johnstown Flood (Unabridged) - David McCullough | History |356423072 #History https://t.co/2sQgx4ohCn #History
980 True Hot Foreclosures Deals In Lynn Haven Florida: https://t.co/FJdIxaGh2F via @YouTube
981 True @VivianGonzalez7 @OnaijayScott10 Happy Thursday Vivian Gonzalez my name is Onaijay Scott from North Miami Beach Florida
982 True Any stores in S Tampa have food yet?? I was at the Publix in St Pete yesterday and you never would have known a hurricane went thru
983 True Irma update: Love's 495 in North Fort Myers, Florida, is open 7 a.m. – 11 p.m., and will remain under those hours until Monday.
984 True Somebody tell them to come to the Harbordale community south side st.pete https://t.co/abebuDIFys
985 True Fox13 is onboard Marine 2 with @VP on Osprey V-22 helo for aerial tour of Fort Myers and Naples #Irma damage… https://t.co/zmgBwvgOGI
986 True How Atlanta Gone Have a Hurricane With No Damn Water? Y'all Dumb Asses Need To Sign Up For Sylvan Learning Center.
987 False RBC, Ameriprise, Raymond James, Edward Jones and others prepare for the worst from #Irma https://t.co/dVqt3yRQWg
988 False New Light Church And Soundefx Media Announce Hurricane Harvey Gospel Relief Concert Feat. CeCe Winans, Tim Bowman... https://t.co/X0TOqxXJX6
989 True Flood in Travelodge. I blame British weather
990 True Look at them. It's like we're a bowling alley. Daaaaang. https://t.co/ONvUiRXayx
991 True @JosephPrince I consider my family part of the New Creation church. We appreciate the prayers for the coast of Midw… https://t.co/wzQ9AilsgD
992 True Out here in Sunnyside feeding the Less Fortunate &amp;&amp; Victims of Hurricane Harvey. We've fed around 70 people💕
993 True Storm surge flooding forecast in Tampa for Davis Islands, Harbour Island, Bayshore, W Shore https://t.co/BHlDpVnVdn… https://t.co/WuLlZxFxjp
994 True LATEST on #Irma

-125 miles southeast of Florida Keys
-Max winds of 125 mph
-Moving WNW at 9 mph… https://t.co/NriOjQFmMu
995 False At 5:46 AM, ENE Upper Matecumbe KEY [Gmz031 Co, FL] MESONET reports HURRICANE #KEY https://t.co/ChxVpLR9aY
996 False Whistleblower Qui Tam Lawyer Blog - Page 2 of 25 - Published by Florida Whistleblower Qui Tam Attorneys - McCabe... https://t.co/RbADd9LO8G
997 False Ooh la la! Love that USA Today / The Free Press called Al Roker and pals TV studs in article about #Irma #TodayShow… https://t.co/8Iza8G8z6n
998 False Hurricane #Irma as viewed from inside the WPLG studio in Pembroke Park. Palm trees are swaying in gusts to nearly 7… https://t.co/ejoTTojoNg
999 True Tropical Storm Warning.  Forecast cone shows Trop Storm #Irma near Lake Martin late Monday night.  Winds 25-40 sust… https://t.co/lOdSEDZomb
1000 False 1 Miami News Search Businesses (Center of Hurricane Irma about to make landfall in lower KeysMiami ...) Miami ... - https://t.co/DNPjSBHT4S
1001 True .@JSOPIO says this is beach bridges. @FhpJacksonville monitoring bridges like Dames Point and @BuckmanBridge https://t.co/cBswTIg7tF

Now lets update the table with the predictions.

In [154]:
print("Clearing the prediction column first.")
connection.execute("UPDATE tweetsTrainLocation01 set predictedIsALocationTweet = null;")
for tf in [True,False]:
    sqlUpdateStart = "UPDATE tweetsTrainLocation01 set predictedIsALocationTweet="+str(tf)+" WHERE tweet_id in ("
    #print(sqlUpdateStart)
    updatelist = ""
    for idx,tweet in tweetstopredict.iterrows():
        if y_pred[idx] == tf:
            updatelist = updatelist+str(tweet.tweet_id)+","
        if idx>0 and ((idx%1000)==0 or idx==len(tweetstopredict)-1):
            sqlstring = sqlUpdateStart+updatelist[:-1]+")"
            connection.execute(sqlstring)
            print("Updated 1000 entries.")
            updatelist=""
print('done')

Clearing the prediction column first.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
Updated 1000 entries.
done

Now lets make the GeoJSON file

In [155]:
tweetlocations = pd.read_sql_query("""

  
    select left(tweet_text,140),lat,lon,
   date_part('day',tweet_date) as day,
   date_part('hour',tweet_date) as hour,
   date_part('minute',tweet_date) as minute,   
   case when lower(tweet_text) like '%%flood%%' then 'TRUE' else 'FALSE' end as floodkey,   
   case when lower(tweet_text) like '%%power%%' then 'TRUE' else 'FALSE' end as powerkey,
   case when lower(tweet_text) like '%%rain%%' then 'TRUE' else 'FALSE' end as rainkey,
   tweets.tweet_id::text

from tweets 
join osmtweetlocalization 
    on osmtweetlocalization.tweet_id = tweets.tweet_id 
join planet_osm_nodes
    on osmtweetlocalization.osm_id = planet_osm_nodes.id
join tweetsTrainLocation01
    on tweets.tweet_id = tweetsTrainLocation01.tweet_id
where 
    tweets.tweet_id in (
        select tweet_id 
        from osmtweetlocalization  
        group by tweet_id 
    )
    and (
        predictedIsALocationTweet is True 
        OR
        isALocationTweet is True
    )
    
order by random();



""",engine)
print("Executed the sql.")
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    """
    Thanks to Goeff Boeing
    http://geoffboeing.com/2015/10/exporting-python-data-geojson/
    """
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

tweetlocs2 = tweetlocations.copy()
tweetlocs2.lat = tweetlocs2.lat/10000000
tweetlocs2.lon = tweetlocs2.lon/10000000
tweetlocs2.day = (tweetlocs2.day-8)*24+tweetlocs2.hour
dataout = df_to_geojson(tweetlocs2,['left','hour','day','minute','floodkey','powerkey','rainkey','tweet_id'],lat='lat',lon='lon')
dataout2=dataout
print('Writing geojson file...')
with open('trainedTweetLocations.geojson', 'w') as outfile:
    json.dump(dataout2, outfile,indent=2)
print('done')

Executed the sql.
Writing geojson file...
done

In [156]:
len(tweetlocations)

5533